boto3==1.34.29
botocore==1.34.29
coverage==7.4.1
dnspython==2.5.0
exceptiongroup==1.2.0
fqdn==1.5.1
idna==3.6
iniconfig==2.0.0
jmespath==1.0.1
natsort==8.4.0
octodns==1.4.0
octodns-route53==0.0.6
packaging==23.2
pluggy==1.4.0
pprintpp==0.4.0
pycountry==23.12.11
pycountry-convert==0.7.2
pytest==7.4.4
pytest-cov==4.1.0
pytest-mock==3.12.0
python-dateutil==2.8.2
PyYAML==6.0.1
repoze.lru==0.7
s3transfer==0.10.0
six==1.16.0
tomli==2.0.1
urllib3==2.0.7
